body {
    margin: 0%;
    padding: 0%;
}

.nav {
    list-style-type: none;
}

.nav-item>a {
    transition: 0.4s;
}

.nav-item>a:hover {
    transition: 0.4s;
    background-color: #f8f9fa;
    border-radius: 6%;
    text-decoration: underline;
}

.footer {
    background-color: #98ff98;
    text-align: center;
    padding: 1%;
}

.info {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(204, 204, 204, 0.5)), url("img/italian-food-background-68.jpg");
    background-position: right bottom;
}