body {
    margin: 0%;
    padding: 0%;
}

.nav-item>a {
    transition: 0.4s;
}

.nav-item>a:hover {
    transition: 0.4s;
    background-color: #f8f9fa;
    border-radius: 6%;
    text-decoration: underline;
}

.footer {
    background-color: #98ff98;
    text-align: center;
    padding: 1%;
}

.info {
    background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(226, 223, 223, 0.5)), url("img/italian-food-background.jpg");
    background-position: right bottom;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url("img/upload-icon1.png");
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 1000;
    text-transform: capitalize;
    text-align: center;
}